body {
  font-family: Monospace;
}
.navbar {
  background-color: white !important;
  border: 0px !important;
}
.navbar li a{
  color: black !important;
}
.navbar-nav li.active a {
   background-color: black !important;
   color: white !important;
}
.navbar-brand {
  color: black !important;
}
.dropdown a:focus {
  background-color: black !important;
  color: white !important;
}
.underscore {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 4s;
  -webkit-animation-iteration-count: 1000;
}
.jumbotron {
 position: relative;
    background: #000 url("https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/55.jpg") center center;
  background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
  color: white;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}
.intro {
  margin-top: 190px;
  margin-bottom: 100px;
}
.btn-primary {
  border-radius: 50% !important;
  background-color: transparent !important;
  border: 1px solid white;
}
.well {
  margin-top: 0px !important;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 0px;
}
p {
  font-size: 22px;
}